:root {
  --color-bg: #c0ade7;
  --color-dark: #8055d9;
  --color-light: #f0e9ff;
  --font-family-primary: "Archivo Black", sans-serif;
  --font-family-secondary: "Archivo", sans-serif;
  --font-family-accent: "IBM Plex Mono", monospace;
}

body {
  max-width: 100%;
}

h1 {
  font-family: var(--font-family-primary);
}

h2,
h3,
h4 {
  font-family: var(--font-family-secondary);
  font-size: 25px;
}
.name-title h1 {
  font-size: 96px;
  color: white;
}

.name-title h2 {
  font-size: 55px;
}

.name-title .marquee {
  max-width: 800px;
}

.name-title,
.about-title,
h2 {
  color: var(--color-light);
}

.name-title .btn-branding {
  margin: 0px 90px;
}

.about-title h1 {
  color: white;
  font-size: 60px;
  text-align: left;
}

.about-title #name {
  color: var(--color-light);
  font-family: var(--font-family-secondary);
  font-size: 35px;
}

.about-title p {
  color: var(--color-light);
  font-family: var(--font-family-accent);
  font-size: 20px;
  line-height: 45px;
}

.about-title marquee {
  margin: 20px 0;
  font-size: 20px;
}

.name-title {
  background-color: var(--color-bg);
  padding: 80px 20px;
  text-align: center;
}

.about-title {
  background-color: var(--color-bg);
  margin: 0px;
  padding: 80px 20px;
  text-align: left;
}

.contact-page,
.project-page,
h1 {
  color: var(--color-dark);
  font-size: 65px;
  text-align: center;
}

.project-page h2 {
  color: var(--color-dark);
  font-size: 35px;
  font-weight: bold;
}

.project-page p {
  color: var(--color-bg);
  font-family: var(--font-family-accent);
  font-size: 18px;
  line-height: 30px;
  margin: 0;
}

.project-page .description {
  background-color: var(--color-light);
  padding: 40px 40px;
  text-align: left;
}

.project-page .btn-project {
  border: 1px solid var(--color-dark);
  color: var(--color-dark);
  font-family: var(--font-family-accent);
  font-size: 18px;
  padding: 10px 12px;
  transition: all 100ms ease-in-out;
}

.project-page .btn-project:hover {
  background-color: var(--color-dark);
  border: 1px solid white;
  color: white;
}

.project-page .small-screenImage {
  display: none;
}

.contact-page img {
  display: block;
  margin: 10px auto;
  max-width: 400px;
}

.marquee {
  color: var(--color-dark);
  background-color: var(--color-light);
  font-family: var(--font-family-accent);
  font-size: 25px;
  font-weight: 450;
  padding: 10px;
  /* width: 550px; */
}

.btn-branding a {
  background-color: var(--color-light);
  color: var(--color-dark);
  font-family: var(--font-family-accent);
  font-size: 18px;
  font-weight: 450;
  padding: 20px 70px;
  transition: all 100ms ease-in-out;

}

.btn-branding a:hover {
  background-color: var(--color-dark);
  color: white;
}

nav {
  background-color: var(--color-light);
  font-family: var(--font-family-accent);
  font-size: 18px;
  font-weight: 450;
  padding: 8px 30px;
}

nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
  line-height: 43px;
  list-style: none;
  margin-left: 15px;
}

nav a {
  color: var(--color-dark);
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

nav a:hover,
li.active a {
  color: var(--color-bg);
  text-decoration: none;
}

footer .social-links {
  text-align: center;
}

footer .social-links a {
  background-color: var(--color-dark);
  border-radius: 50%;
  color: white;
  font-size: 18px;
  margin: 20px;
  padding: 10px 13px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  background-color: var(--color-light);
  color: var(--color-dark);
}

footer .credits {
  color: var(--color-bg);
  font-family: var(--font-family-accent);
  font-size: 15px;
}

footer .credits a {
  color: var(--color-bg);
}

footer .credits a:hover {
  color: var(--color-dark);
}

@media (max-width: 900px) {
  .name-title h1 {
    font-size: 35px;
  }
.name-title h2 {
  font-size: 20px;
}

.btn-branding .btn {
font-size: 15px;
}

  .name-title .marquee {
    font-size: 15px;
    
  }
  .about-title h1 {
    font-size: 32px;
    text-align: center;
  }

  .about-title h2 {
    font-size: 18px;
  }

  .about-title #name{
    font-size: 18px;
  }

  .about-title .marquee {
    font-size: 12px;
    margin: 15px;
    max-width: 250px;
  }
  .project-page h1 {
    font-size: 25px;

  }

  .contact-page h1 {
    font-size: 25px;
  }

 

  .about-title .full-name {
    font-size: 30px;
    margin-bottom: 5px;
  }

  .about-title p {
    font-size: 12px;
    line-height: 25px;
  }

  

  .about-title {
    padding-top: 30px;
    text-align: center;
  }

  .name-title {
    padding-bottom: 30px;
  }

  .about-page .selfie {
    margin: 0;
    max-width: 200px;
  }

  .marquee {
    padding: 5px;
    width: 290px;
  }

  .project-page h2 {
    font-size: 25px;
  }

  .project-page p {
    font-size: 15px;
    line-height: 20px;
    margin: 0;
  }

  .project-page .btn {
    font-size: 12px;
  }

  .project-page img {
    display: none;
  }

  .project-page .description {
    text-align: center;
    padding: 20px 10px;
  }

   .project-page .description h3{
    font-size: 20px;
   }

  .project-page .small-screenImage {
  display:block;
  margin: 10px auto;
  max-width: 200px;
}


  .contact-page img {
    max-width: 250px;
  }

  .contact-page .btn {
    font-size: 15px;
    padding: 20px 18px;
  }

  .btn-branding {
    font-family: var(--font-family-p);
    font-size: 18px;
    text-align: center;
  }

  nav {
    font-size: 12px;
  }

  footer .credits {
    font-size: 12px;
  }
}
